body{
    background: url('../../static/images/bg.jpeg') center;
    color: #000;
}
h5 {
    margin: 10px 0;
}

.content {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: flex-start;
}

#video {
    width: 400px;
    height: 340px;
    border: 1px dashed #333;
    box-sizing: border-box;
}

.img-wrap {
    width: 500px;
    margin-left: 30px;
}

.batch-download{
    margin-left: 10px;
    color: chocolate;
    cursor: pointer;
}
.tips{
    color: aquamarine;
}
#imgWrap {
    width: 100%;
    height: 340px;
    box-sizing: border-box;
    border: 1px dashed #333;
    overflow: scroll;
}

.record-wrap{
    width: 500px;
    margin-left: 30px;
}

.video-list{
    width: 100%;
    min-height: 340px;
    border: 1px dashed #333;
}